@using Accessories.Controllers;
@using System.Globalization
@using Accessories.Infrastructure.Contents.MessageEnum
@{
    var productCarts = !Model.Equals(MessageConst.Not_Found_User) ? Model : null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container" style="position:relative;">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-md-9">
                    <div class="ibox">
                        <div class="ibox-title">
                            <span class="pull-right">(<strong>@productCarts?.Count</strong>) items</span>
                            <h5>Items in your cart</h5>
                        </div>
                        @if (productCarts != null)
                        {
                            @foreach (var item in productCarts)
                            {
                                <div class="ibox-content">
                                    <div class="table-responsive">
                                        <table class="table shoping-cart-table">
                                            <tbody>
                                                <tr>
                                                    <td width="90">
                                                        <image class="cart-product-imitation" src="@item.Product.Image"/>
                                                    </td>
                                                    <td class="desc">
                                                        <h3>
                                                            <a href="#" class="text-navy">
                                                                @item.Product.Name
                                                            </a>
                                                        </h3>
                                                        <p class="small">
                                                            @item.Product.Description
                                                        </p>
                                                        <dl class="small m-b-none">
                                                            <dt>Description lists</dt>
                                                            <dd>@item.Product.Description</dd>
                                                        </dl>

                                                        <div class="m-t-sm">
                                                            <a class="text-muted" onclick="RemoveProductFromCartByUser('@item.Id')" style="cursor:pointer;"><i class="fa fa-trash"></i> Xóa khỏi giỏ hàng</a>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        @(
                                                        item.Product.Price.ToString("N0", new CultureInfo("is-IS")) + item.Product.Unit
                                                        )
                                                        <s class="small text-muted">1.000.000đ</s>
                                                    </td>
                                                    <td width="65">
                                                        <input type="text" class="form-control" value="@item.Quantity">
                                                    </td>
                                                    <td>
                                                        <h4>
                                                            @(
                                                            (item.Product.Price * item.Quantity).ToString("N0", new CultureInfo("is-IS")) + item.Product.Unit
                                                            )
                                                        </h4>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            }
                        }
                        <button class="btn btn-primary pull-right" style="margin:20px 0;"><i class="fa fa fa-shopping-cart"></i> Checkout</button>
                        <button class="btn btn-white" style="margin:20px 0;"><i class="fa fa-arrow-left"></i> Continue shopping</button>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Cart Summary</h5>
                        </div>
                        <div class="ibox-content">
                            <span>
                                Total
                            </span>
                            <h2 class="font-bold">
                               
                            </h2>

                            <hr>
                            <div class="m-t-sm">
                                <div class="btn-group">
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> Checkout</a>
                                    <a href="#" class="btn btn-white btn-sm"> Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Support</h5>
                        </div>
                        <div class="ibox-content text-center">
                            <h3><i class="fa fa-phone"></i> +43 100 783 001</h3>
                            <span class="small">
                                Please contact with us if you have any questions. We are avalible 24h.
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-login-request" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document" style="position: absolute;left: 30%;top: 150px;">
                <div class="modal-content" style="max-width:260px;">
                    <div class="modal-body">
                        <h3>Vui lòng đăng nhập để tiếp tục</h3>
                    </div>
                    <div class="modal-footer" style="justify-content:center;">
                        <a type="button" class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Đăng nhập ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style type="text/css">
        body {
            margin-top: 20px;
            background: #eee;
        }

        h3 {
            font-size: 16px;
        }

        .text-navy {
            color: #1ab394;
        }

        .cart-product-imitation {
            text-align: center;
            padding-top: 30px;
            height: 80px;
            width: 80px;
            background-color: #f8f8f9;
        }

        .product-imitation.xl {
            padding: 120px 0;
        }

        .product-desc {
            padding: 20px;
            position: relative;
        }

        .ecommerce .tag-list {
            padding: 0;
        }

        .ecommerce .fa-star {
            color: #d1dade;
        }

            .ecommerce .fa-star.active {
                color: #f8ac59;
            }

        .ecommerce .note-editor {
            border: 1px solid #e7eaec;
        }

        table.shoping-cart-table {
            margin-bottom: 0;
        }

            table.shoping-cart-table tr td {
                border: none;
                text-align: right;
            }

                table.shoping-cart-table tr td.desc,
                table.shoping-cart-table tr td:first-child {
                    text-align: left;
                }

                table.shoping-cart-table tr td:last-child {
                    width: 80px;
                }

        .ibox {
            clear: both;
            margin-bottom: 25px;
            margin-top: 0;
            padding: 0;
        }

            .ibox.collapsed .ibox-content {
                display: none;
            }

            .ibox:after,
            .ibox:before {
                display: table;
            }

        .ibox-title {
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            background-color: #ffffff;
            border-color: #e7eaec;
            border-image: none;
            border-style: solid solid none;
            border-width: 3px 0 0;
            color: inherit;
            margin-bottom: 0;
            padding: 14px 15px 7px;
            min-height: 48px;
        }

        .ibox-content {
            background-color: #ffffff;
            color: inherit;
            padding: 15px 20px 20px 20px;
            border-color: #e7eaec;
            border-image: none;
            border-style: solid solid none;
            border-width: 1px 0;
        }

        .ibox-footer {
            color: inherit;
            border-top: 1px solid #e7eaec;
            font-size: 90%;
            background: #ffffff;
            padding: 10px 15px;
        }
    </style>

    <script>
        $(document).ready(function () {
            $('.modal-login-request').modal({ backdrop: 'static', keyboard: false })
            if('@Model' == '@MessageConst.Not_Found_User')
            {
                $('.modal-login-request').show();
            }
            else
            {
                $('.modal-login-request').hide();
            }
        });
        function RemoveProductFromCartByUser(cartProductId)
        {
            $.ajax({
                cache: true,
                url: '@Url.Action("RemoveProductFromCartByUser", "Cart")',
                type: 'POST',
                data: { cartProductId: cartProductId },
                success: function (result) {
                    if(result=='@MessageConst.Message_Notice_Add_Success')
                    {
                        window.location.href='./Cart';
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    </script>
</body>
</html>