@page
@model RegisterModel
@*@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.FullName" class="form-control" autocomplete="fullname" aria-required="true" />
                <label asp-for="Input.FullName"></label>
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

*@



<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>
    <link rel="stylesheet" href="~/css/login/style.css" />
    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <!-- Sign up form -->
    <section class="signup">
       
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Sign up</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form method="POST" class="register-form" id="register-form">
                        <div class="row col-12">
                            <div class="col-6 form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input asp-for="Input.FirstName" type="text" id="name" placeholder="First Name" />
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            </div>
                            
                            <div class="col-6 form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input asp-for="Input.LastName" type="text" id="name" placeholder="Last Name" />
                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            </div>
                         </div>
                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-email"></i></label>
                        <input asp-for="Input.Address" type="text" id="email" placeholder="Your Address" />
                        <span asp-validation-for="Input.Address" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-email"></i></label>
                        <input asp-for="Input.PhoneNumber" type="text" id="email" placeholder="Your PhoneNumber" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>

                    </div>
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <input asp-for="Input.Email" type="email" id="email" placeholder="Your Email" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                            <input asp-for="Input.Password" type="password" id="pass" placeholder="Password" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                        <input asp-for="Input.ConfirmPassword" type="password" id="re_pass" placeholder="Confirm your password" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signup" id="signup" class="form-submit" value="Register" />
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <figure><img src="images/signup-image.jpg" alt="sing up image"></figure>
                    <a href="#" class="signup-image-link">I am already member</a>
                </div>
            </div>
    </section>
    @section Scripts {
    <partial name="_ValidationScriptsPartial" />}
    <script src="js/login/jquery.min.js"></script>

</body>
</html>