@using System.Globalization
@using Accessories.Infrastructure.ViewModels
@using Accessories.Infrastructure.Contents.MessageEnum
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="~/css/Productdetail/style.css" />

@{
	var product = Model;
}
@model ProductViewModel
<div class="pd-wrap" style="position:relative;">
	<div class="container">
		<div class="heading-section">
			<h2>Product Details</h2>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div style="width:500px;height: auto" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img class="d-block w-100" src="@product.Image" alt="First slide">
						</div>
						
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="product-dtl">
					<div class="product-info">
						<div class="product-name">@product.Name</div>
						
						<div class="product-price-discount"><span><span id="price-product">@product.Price.ToString("N0",new CultureInfo("is-IS"))</span>@product.Unit</span><span class="line-through">@(product.PriceOrigin != null ? product.PriceOrigin.Value.ToString("N0", new CultureInfo("is-IS")) + "đ" : "")</span></div>
					</div>
					<p>@product.Information</p>
					
					<div class="product-count">
						<label for="size">Quantity</label>
						<form method="post" class="display-flex">
							<div class="qtyminus" onclick="MinusQuantityProduct()">-</div>
							<input asp-for="@product.Quantity" name="quantity" type="text" value="1" class="qty" id="quantity-product">
							<div class="qtyplus" onclick="PlusQuantityProduct()">+</div>
						</form>
						<button type="submit" onclick="AdditionalProductIntoCart('@product.Id')" class="round-black-btn">Thêm vào giỏ hàng</button>
					</div>
				</div>
			</div>
		</div>
		<div class="product-info-tabs">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Mô tả</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Reviews (0)</a>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
					@product.Description
				</div>
				<div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
					<div class="review-heading">Đánh giá</div>
					<p class="mb-20">There are no reviews yet.</p>
					<form class="review-form">
						<div class="form-group">
							<label>Your rating</label>
							<div class="reviews-counter">
								<div class="rate">
									<input type="radio" id="star5" name="rate" value="5" />
									<label for="star5" title="text">5 stars</label>
									<input type="radio" id="star4" name="rate" value="4" />
									<label for="star4" title="text">4 stars</label>
									<input type="radio" id="star3" name="rate" value="3" />
									<label for="star3" title="text">3 stars</label>
									<input type="radio" id="star2" name="rate" value="2" />
									<label for="star2" title="text">2 stars</label>
									<input type="radio" id="star1" name="rate" value="1" />
									<label for="star1" title="text">1 star</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label>Your message</label>
							<textarea class="form-control" rows="10"></textarea>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" name="" class="form-control" placeholder="Name*">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" name="" class="form-control" placeholder="Email Id*">
								</div>
							</div>
						</div>
						<button class="round-black-btn">Submit Review</button>
					</form>
				</div>
			</div>
		</div>

	</div>
	<div class="modal-login-request" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document" style="position: absolute;left: 30%;top: 150px;">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Thông báo</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Vui lòng đăng nhập để tiếp tục mua hàng.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="CloseModalRequestLogin()">Đóng</button>
					<a type="button" class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Đăng nhập ngay</a>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-success-order" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document" style="position: absolute;left: 30%;top: 150px;">
			<div class="modal-content" >
				<div class="modal-header">
					<h5 class="modal-title">Thông báo</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Thêm sản phẩm thành công.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="CloseModalOrderProduct()">Đóng</button>
					<a type="button" class="btn btn-primary" asp-action="Index" asp-controller="Cart">Chuyển đến giỏ hàng</a>
				</div>
			</div>
		</div>
	</div>

</div>
<script>
	$(document).ready(function () {
		$('.modal-login-request').modal({ backdrop: 'static', keyboard: false })
		$('.modal-success-order').modal({ backdrop: 'static', keyboard: false })
		$('.modal-success-order').hide();
		$('.modal-login-request').hide();
	});
	function MinusQuantityProduct()
	{
		var input = $('#quantity-product').val();
		let myInput = document.querySelector('input[name="quantity"]');	
		var number = 1;
		if(input != '1')
		{
			var number = parseInt(input) - 1;
			myInput.value = number.toString();
		}
		var price = '@product.Price';
		var priceInput = document.querySelector('#price-product');
		priceInput.innerHTML = (parseInt(price) * parseInt(number)).toString();
	}
	function PlusQuantityProduct() {
		var input = $('#quantity-product').val();
		let myInput = document.querySelector('input[name="quantity"]');
		var number = parseInt(input) + 1;
		myInput.value = number.toString();
		var price = '@product.Price';
		var priceInput = document.querySelector('#price-product');
		priceInput.innerHTML = (parseInt(price) * parseInt(number)).toString();

	}
	function AdditionalProductIntoCart(id)
	{
		var quantity = $('#quantity-product').val();
		$.ajax({
			cache: true,
			url: '@Url.Action("AdditionalCart", "Cart")',
			type: 'POST',
			data: { id: id, quantity: parseInt(quantity) },
			success: function (result) {
				switch(result)
				{
					case '@MessageConst.Not_Found_User':
					{
						$('.modal-login-request').show();
						break;
					}
					case '@MessageConst.Message_Notice_Add_Success':
					{
						$('.modal-success-order').show();
						break;
					}
					default:
					{
						$('.modal-success-order').hide();
						$('.modal-login-request').hide();
						break;
					}
				}
			},
			error: function (err) {
			    console.log(err);
			}
		});
	}
	function CloseModalRequestLogin()
	{
		$('.modal-login-request').hide();
	}
	function CloseModalOrderProduct()
	{
		$('.modal-success-order').hide();
	}
</script>